<h1><%= t 'calendar.create' %></h1>
<!-- Find me in app/views/static_pages/index.html.erb -->

<p><%= t 'index.welcome' %></p>

<div >
  <%= form_for @calendar do |f| %>
    <%= f.text_field :title, :placeholder =>t('calendar.title'), :autofocus => true %>
    <%= f.submit t('calendar.create') %> <br/>
  <% end %>
 </div>
