  <%= link_to 'Back', :back %>
<p>
  <b><%= t('events.title') %></b>
  <%= @event.title %>
</p>
<p>
  <b><%= t('events.description') %></b>
  <%= @event.description %>
</p>
<p>
  <b><%= t('events.location') %></b>
  <%= @event.location %>
</p>

<p>
  <b><%= t('events.starts_at') %></b>
  <%= @event.starts_at %>
</p>

<p>
  <b><%= t('events.ends_at') %></b>
  <%= @event.ends_at %>
</p>
