<h1><%= t 'calendar.create' %></h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
<div >
  <%= form_for @calendar do |f| %>
    <%= f.label t('calendar.title') %>
    <%= f.text_field :title, :placeholder => @calendar.read_token, :autofocus => true %>
    <%= f.select(options_for_select(@weekdays.collect {|d| d})) %>
    <%= f.submit t('calendar.create') %> <br/>
  <% end %>
  </div>
