<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <title>Webcalendar</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <%= yield %>

      <footer>
      <%= render "shared/footer" %>
      </footer>
    </div>
  </body>
</html>
